.jumbotron {

    color: palevioletred;
}

.btn btn-primary btn-sml{
	
}

#gem{
	font-size: 60px;
	font-weight: bold;
	font-color:;
}

h1{
	
}

.row{

}
.btn-primary{

background-image: -webkit-linear-gradient(#cc00ff 0%, #59005a 100%);

}

.list-group{
	width: 200px;
}

#diamond1{
	pointer-events: none;
}

#diamond2{
	pointer-events: none;
}

#diamond3{
	pointer-events: none;
}

#diamond4{
	pointer-events: none;
}